@charset "UTF-8";

/* section */
section{
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 18px;
    color: #444;
    font-weight: 400;
    margin: 50px auto;
    text-align: center;
}
#contents {
    width: 1273px;
    margin: 0;
}

.container.has-lnb #contents {
    float: right;
    width: calc(100% - 260px);
}

h1.title {
    padding: 0 0 26px 0;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
    font-size: 40px;
    /* display: inline; */
}

 h1.title>a:link, h1.title>a:active, h1.title>a:hover, h1.title>a:visited{
	color:#222; 
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.board-list-util:after, .board-list-util:before {
    content: '';
    display: table;
}

.board-list-util:after {
    clear: both;
}

.board-list-util:after, .board-list-util:before {
    content: '';
    display: table;
}

.board-list-util {
    margin: 30px 0 15px 0;
    text-align: right;
}

.table-wrap {
    position: relative;
    width: 1273px;
    border-top: 1px solid #555;
}

table {
    width: 100%;
    margin: 0;
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
}

.board-list {
    line-height: 1.3;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.board-list>thead>tr>th {
    height: 45px;
    padding: 3px 10px;
    color: #222;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    background-color: #f2f4f5;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.board-list>tbody>tr>td, .board-list>tbody>tr>th {
    height: 45px;
    padding: 10px 20px 10px 20px;
    font-size : 20px;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    text-align: center;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

a:link {
    color: #444;
    text-decoration: none;
}

.board-list>tbody>tr>td>a, .board-list>tbody>tr>th>a {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/* article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
} */

.pagination {
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
}

.pagination a {
    display: inline-block;
    position: relative;
    min-width: 32px;
    height: 32px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    line-height: 30px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 4px;
}

.pagination .active{ /* 선택된 a 태그에 적용할 .active 클래스 스타일  */
    color: #fff;
    background-color: #01738b;
    border-color: #01738b;  
} 