<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web_movie_proj.mapper.InquiryMapper">

	<resultMap type="Inquiry" id="inquiryList">
      <id column="inq_no" property="inqNo" />
      <result column="inq_title" property="inqTitle" />
      <result column="inq_user" property="inqUser" />
      <result column="inq_date" property="inqDate" />
      <result column="inq_status" property="inqStatus" />
   </resultMap>


	<!-- 동적으로 생성시키는 것 이용해서 코드 간결하게 만들기. -->

	<select id="selectInquiryAll" resultMap="inquiryList">
		select inq_no, inq_title, inq_user, inq_date, inq_status 
		from inquiry
		order by inq_no desc
	</select>
	
	<select id="selectInquiryByAnsStatus" resultMap="inquiryList">
		select inq_no, inq_title, inq_user, inq_date, inq_status 
		from inquiry
		where inq_status = #{inqStatus}
	</select>
	
	<select id="selectInquiryByNo" resultType="Inquiry">
		select inq_no, inq_title, inq_user, inq_detail, inq_date, inq_file, inq_answer, inq_ansdate, inq_status 
		from inquiry
		where inq_no = #{inqNo};	
	</select>
	<select id="selectInquiryByUser" resultMap="inquiryList">
		select inq_no, inq_title, inq_user, inq_detail, inq_date, inq_file, inq_answer, inq_ansdate, inq_status 
		from inquiry
		where inq_user = #{inqUser}
		order by inq_no desc
	</select>
	
	<insert id="insertInquiry">
		insert into inquiry(inq_no, inq_title, inq_user, inq_detail, inq_date, inq_file, inq_status) values
		(null, #{inqTitle}, #{inqUser}, #{inqDetail}, now(), #{inqFile}, 0)
		<selectKey keyProperty="inqNo" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="updateInquiry">
		update inquiry
		set inq_answer = #{inqAnswer}, inq_ansdate = now(), inq_status = 1
		where inq_no = #{inqNo}
	</update>
	
	<delete id="deleteInquiry">
		delete 
		from inquiry
		where inq_no = #{inqNo}
	</delete>
	
</mapper>