<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web_movie_proj.mapper.MemberMapper">

	<resultMap type="Member" id="resMember">
		<id column="mem_email" property="memEmail"/>
		<result column="mem_birthdate" property="memBirthdate"/>
	</resultMap>

	<select id="selectMemberByAll" resultMap="resMember">
		select mem_no, mem_email, mem_passwd, mem_birthdate, mem_name, mem_phone
		  from member
	</select>
	
	<select id="selectMemberByNo" resultMap="resMember">
		select mem_no, mem_email, mem_passwd, mem_birthdate, mem_name, mem_phone
		  from member
		 where mem_no = #{memNo}
	</select>
	
	<select id="selectMemberByEmail" resultMap="resMember">
		select mem_no, mem_email, mem_passwd, mem_birthdate, mem_name, mem_phone
		  from member
		 where mem_email = #{memEmail} 
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		insert into member 
		values 
		(null, #{memEmail}, password(#{memPasswd}), #{memBirthdate}, #{memName}, #{memPhone})
		<selectKey keyProperty="memNo" resultType="int">
			SELECT LAST_INSERT_ID()	
		</selectKey>
	</insert>
	
	<!-- 회원수정 -->
	<update id="updateMember">
		update member
		   set mem_no = #{memNo},
		   	   mem_passwd = password(#{memPasswd}),
		       mem_birthdate = #{memBirthdate},
		       mem_name = #{memName},
		       mem_phone = #{memPhone}
		 where mem_email = #{memEmail}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="deleteMember">
		delete
		  from member
		 where mem_email = #{memEmail}
	</delete>

	<!-- 로그인 -->
    <select id="memberLogin" resultType="Member">
    	select mem_no, mem_email, password(mem_passwd), mem_name, mem_birthdate, mem_phone
    	  from member 
    	 where mem_email = #{memEmail}
    	   and mem_passwd = password(#{memPasswd})
    </select>
    
    <!-- 아이디 중복검사 -->
  	<select id="idCheck" resultType="int">
  		select count(*) 
  		  from member 
  		 where mem_email = #{memEmail}
  	</select>
  	
  	<!-- 아이디 찾기 -->
  	<select id="findId" resultType="Member"> 
  	select mem_email
  	  from member 
  	 where mem_name = #{memName} 
  	   and mem_phone = #{memPhone}
  	</select>
  	
  	<!-- 비밀번호 찾기(비로그인) -->
	<select id="selectMember" parameterType="String" resultType="Member">
		select mem_no, mem_email, password(mem_passwd), mem_birthdate, mem_name, mem_phone
		  from member
		 where mem_email = #{memEmail}
	</select>
	
	<!-- 패스워드변경 -->
	<update id="pwUpdate_M" parameterType="Member">
		update member 
		   set mem_passwd = password(#{memPasswd})
		 where mem_email = #{memEmail}
	</update>
	
	<!-- 회원정보 삭제 -->
  	<delete id="withdrawal" parameterType="Member">
        DELETE 
          FROM member
         WHERE mem_email = #{memEmail}
           and mem_passwd = password(#{memPasswd})
    </delete>
	
	<!-- 회원정보 수정 -->
	<update id="updatemyinfo" parameterType="Member">
		update member
		   set mem_birthdate = #{memBirthdate},
		       mem_name = #{memName},
		       mem_phone = #{memPhone}
		 where mem_email = #{memEmail}
		   and mem_passwd = password(#{memPasswd})
	</update>

</mapper>