<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web_movie_proj.mapper.ReservationMapper">

	<resultMap type="Reservation" id="resReservation">
		<id column="res_no" property="resNo" />
		<association property="shwNo" javaType="ShowInfo" resultMap="web_movie_proj.mapper.ShowInfoMapper.resShowInfo"></association>
		<association property="memNo" javaType="Member"></association>
	</resultMap>
	
	<select id="selectReservationAll" resultMap="resReservation">
		select res_no, shw_no, mem_no, res_price, res_date, res_adult, res_teen, res_pref 
		from reservation
	</select>
	
	<select id="selectReservationByUser" resultMap="resReservation">
		select res_no, shw_no, mem_no, res_price, res_date, res_adult, res_teen, res_pref 
		from reservation 
		where mem_no = #{memNo}
	</select>
	
	<insert id="insertReservation">
		insert into reservation values 
		(null, #{shwNo.shwNo}, #{memNo.memNo}, #{resPrice}, now(), #{resAdult}, #{resTeen}, #{resPref})
		<selectKey keyProperty="resNo" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<delete id="deleteReservation">
		delete from reservation 
		where res_no = #{resNo}
	</delete>
	
	<!-- 예매번호로 정보 가져오기 -->
	<select id="selectReservationByNo" resultMap="resReservation">
		select r.res_no, r.mem_no, r.res_price, r.res_date, r.res_adult, r.res_teen, r.res_pref, 
				r.shw_no, s.shw_date, s.shw_starttime, s.shw_endtime, 
				s.tht_no, t.tht_name,
				s.mov_no, m.mov_title, 
				c.cin_no, c.cin_type 
		from reservation r join showinfo s on r.shw_no = s.shw_no 
			join theater t on s.tht_no = t.tht_no 
			join movie m on s.mov_no = m.mov_no
			join cinema c on s.cin_no = c.cin_no 
		where r.res_no = #{resNo};
	</select>
	
	<!-- 회원번호로 정보 가져오기 -->
	<select id="selectReservationByMemNo" resultMap="resReservation">
		select r.res_no, r.mem_no, r.res_price, r.res_date, r.res_adult, r.res_teen, r.res_pref, 
				r.shw_no, s.shw_date, s.shw_starttime, s.shw_endtime, 
				s.tht_no, t.tht_name,
				s.mov_no, m.mov_title, m.mov_poster,
				c.cin_no, c.cin_type 
		from reservation r join showinfo s on r.shw_no = s.shw_no 
			join theater t on s.tht_no = t.tht_no 
			join movie m on s.mov_no = m.mov_no
			join cinema c on s.cin_no = c.cin_no 
		where r.mem_no = #{memNo}
		order by r.res_no desc
	</select>
</mapper>