@charset "UTF-8";

/* Fontawesome 4.7 */
@import	url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@900&display=swap');

@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		 format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'IBMPlexSansKR-Regular', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-right: 17px; /* nav 길이조절 */
	overflow: hidden; /* 스크롤 x */
}

a:link {
	text-decoration: none;
}

a:active, a:focus, a:hover {
	text-decoration: underline;
}

ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* section */
section {
	/* padding-bottom: 5%;
	padding-top: 5%; */
	margin: 50px auto;
	width: 1273px;
	height: 300px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* section */
.con_main {
	margin: 0 auto;
	border: 0.5px solid RGB(3, 22, 52);
	width: 600px;
	height: 310px;
}

h2 {
	margin-right: 70px;
}

/* 축하이미지 */
#con_img2 {
	width: 100px;
	height: 100px;
	padding-top: 30px;
}

/* 버튼 */
#button {
	background: #3e2789;
	color: white;
	width: 200px;
	height: 50px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	border: 1px solid #666;
}