@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'IBMPlexSansKR-Regular', sans-serif;
}

a:link {
	text-decoration: none
}

a:active, a:focus, a:hover {
	text-decoration: underline;
}

ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}

i {
	font-style: normal;
}

.login_success_area span i{
	font-style: normal;
}

/* header */
header {
	margin: auto;
	width: 1273px;
	position: relative;
}

#header_ci {
	width: 150px;
	margin: 0px auto;
	align-items: center;
	position: relative;
	left: 120px;
	box-sizing: border-box;
}

header div {
	display: inline;
	float: right;
	text-align: right;
	padding-bottom: 10px;
}

header div a {
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.0em;
	color: RGB(136, 136, 136);
}

/* <nav> */
nav {
	margin: auto;
	position: relative;
	padding: 0px;
}

nav ul {
	width: 1273px;
	padding-left: 0;
	list-style: none;
	border-bottom: 0.5px solid RGB(3, 22, 52);
	padding-bottom: 5px;
	margin: 10px auto;
	position: relative;
}

.nav {
	display: inline-block;
	padding: 0 90px;
	font-weight: bold;
	font-size: 1.3em;
}

#mypagebtn {
	display: inline-block;
	padding: 0 0 0 70px;
	font-weight: bold;
	font-size: 1.3em;
}

.nav a {
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 5px;
}

.nav a:hover {
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 4px;
	border-bottom: 5px solid RGB(3, 22, 52);
}

.fa-user {
	text-decoration: none;
	color: RGB(3, 22, 52);
	display: inline-block;
}

/* section */

/* container */
.container {
	width: 100%;
	min-width: 1100px;
	min-height: 100%;
	margin: -92px 0 -200px 0;
	padding: 92px 0 300px 0;
}

/* container */
.container {
	width: 100%;
	min-width: 1100px;
	min-height: 100%;
	margin: -92px 0 -200px 0;
	padding: 92px 0 300px 0;
}

/* contents */
#contents {
	width: 100%;
	margin: 0;
	padding: 40px 0 0 0;
}

h2.title {
	padding: 0 0 16px 0;
	font-size: 1.4666em;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 1.1;
	color: #503396;
	width: 10%;
	text-align: left;
}

h3.title {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.1;
	color: #222;
	width: 10%;
	text-align: left;
}

/* tab-cont-wrap */
.tab-cont-wrap > div{
	display: none;
}

.tab-cont-wrap > div.active{
	display: block;
}

/* tab-list */
.tab-list {
	margin-bottom: 60px;
}

.tab-list ul {
	overflow: hidden; 
}
.tab-list li {
	float: left; 
	width: 210px; 
	border: 1px solid #c4c4c4;
	border-bottom: none; 
	margin-right: -1px;
}
.tab-list li a {
	display: block; 
	padding: 15px 0; 
	font-size: 17px;
	color: #666; 
	border-bottom: 2px solid #0000d2;
}
.tab-list li.active a {
	border: 2px solid #0000d2;
	border-bottom: none;
	font-weight: 800;
	color: #0000d2;
}

/* movie-detail-page */
.movie-detail-page {
	position: relative;
	z-index: 1;
	height: 520px;
	margin: 0 0 40px 0;
	color: #ccc;
	background-color: #151515;
}

.movie-detail-page p {
	margin: 0;
	padding: 0;
}

.movie-detail-page .bg-img {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 1;
	width: 1100px;
	margin: 0 0 0 -550px;
	height: 100%;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	opacity: .8;
}

.movie-detail-page .bg-img:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(15, 15, 15, .5);
}

/* bg-mask */
.movie-detail-page .bg-mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left, #0f0f0f 20%, rgba(15, 15, 15, 0)
		50%, #0f0f0f 80%);
	background: -webkit-linear-gradient(left, #0f0f0f 20%, rgba(15, 15, 15, 0)
		50%, #0f0f0f 80%);
	background: -o-linear-gradient(left, #0f0f0f 20%, rgba(15, 15, 15, 0)
		50%, #0f0f0f 80%);
	background: -ms-linear-gradient(left, #0f0f0f 20%, rgba(15, 15, 15, 0)
		50%, #0f0f0f 80%);
	background: linear-gradient(to right, #0f0f0f 20%, rgba(15, 15, 15, 0)
		50%, #0f0f0f 80%)
}

.theater-detail-page .bg-mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background:
		url(../../images/movie/movie-detail/bg-movie-detail-mask.png)
		no-repeat center 0
}

#contentData {
	margin: auto;
	width: 1273px;
}

.movie-detail-cont {
	position: relative;
	z-index: 4;
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	padding: 55px 0 0 0;
}

.movie-detail-cont > .title {
	text-align: left;
	position: static;
	left: inherit;
	top: inherit;
	width: 800px;
	padding: 33px 0 0 0;
	color: #fff;
	font-size: 3.0666em;
	font-weight: 400;
	line-height: 1.2;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
}

.movie-detail-cont .title-eng {
	text-align: left;
	width: 800px;
	padding: 10px 0 0 0;
	font-size: 1.3333em;
	font-family: IBMPlexSansKR-Regular;
	color: #fff;
	line-height: 1.1;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.movie-detail-cont .info {
	position: absolute;
	left: 0;
	bottom: -10px;
	padding: 0 0 55px 0;
}

.movie-detail-cont .info:after, .movie-detail-cont .info:before{
	content: '';
	display: table;
}

.movie-detail-cont .info:after {
	clear: both;
}

.movie-detail-cont .info > .title {
	display: block;
	padding: 0 0 15px 0;
	line-height: 1.1;
	font-size: .9333em;
}

.movie-detail-cont .info .score {
	float: left;
	padding: 0;
}

.movie-detail-cont .info .score > .title{
	position: relative;
	margin: 0 0 15px 0;
}

.movie-detail-cont .info .score .number {
	padding: 0 0 0 30px;
	font-family: IBMPlexSansKR-Regular, sans-serif;
	font-weight: 400;
}

.movie-detail-cont .info .score .number>p {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.1;
}

.movie-detail-cont .info .score .number .before {
	color: #59bec9;
	font-size: 2.1333em;
}

.movie-detail-cont .info .rate {
	float: left;
	padding: 0 0 0 35px;
}

.movie-detail-cont .info .rate > .title {
	position: relative;
	margin: 0 35px 15px 0;
}

.movie-detail-cont .info .rate .cont {
	display: inline-block;
	min-height: 35px;
	padding: 0 0 0 30px;
	vertical-align: middle;
	line-height: 1.1;
}

.movie-detail-cont .info .rate .cont em {
	margin: 0 4px 0 0;
	color: #fff;
	font-size: 2.1333em;
	font-family: IBMPlexSansKR-Regular, sans-serif;
	font-weight: 400;
}

.movie-detail-cont .info .audience {
	float: left;
	padding: 0 0 0 35px;
}

.movie-detail-cont .info .audience > .title {
	position: relative;
	margin: 0 35px 20px 0;
}

.movie-detail-cont .info .audience .tooltip-cont {
	position: absolute;
	left: -77px;
	top: -115px;
}

.movie-detail-cont .info .audience .cont {
	display: inline-block;
	padding: 0 0 0 30px;
	vertical-align: middle;
	line-height: 1.1;
}

.movie-detail-cont .info .audience .cont em {
	margin: 0 4px 0 0;
	color: #fff;
	font-size: 2.1333em;
	font-family: IBMPlexSansKR-Regular, sans-serif;
	font-weight: 400;
}

.movie-detail-cont .poster {
	overflow: hidden;
	display: block;
	position: absolute;
	right: 0;
	top: 45px;
	z-index: 2;
	width: 260px;
	height: 374px;
}

.movie-detail-cont .poster .wrap {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 0;
	line-height: 0;
}

/* movie-grade */
.movie-grade {
	overflow: hidden;
	display: inline-block;
	width: 23px;
	height: 23px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	background-position: center;
	background-repeat: no-repeat;
}

.movie-detail-cont .poster .wrap .movie-grade {
	overflow: hidden;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 4;
}

.grade-table .movie-grade {
	width: 100%;
	text-indent: 30px;
	background-position: left;
	font-weight: 400;
}

.age-0 {
	background-image:
		url(../../images/movie/icon/age-0.png);
}

.age-12 {
	background-image:
		url(../../images/movie/icon/age-12.png);
}

.age-15 {
	background-image:
		url(../../images/movie/icon/age-15.png);
}

.age-19 {
	background-image:
		url(../../images/movie/icon/age-19.png);
}

.movie-detail-cont .poster .wrap img {
	display: block;
	width: 261px;
	height: 100%;
	border-radius: 10px;
}

.screen-type {
	overflow: hidden;
	display: block;
	position: absolute;
	right: 0;
	bottom: -10px;
	width: 260px;
}

.movie-detail-cont .screen-type .btn {
	display: block;
	float: left;
	height: 46px;
	line-height: 44px;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	border: 0;
	border-radius: 5px;
	background-color: transparent;
	text-decoration: none;
	font-weight: 700;
}

.movie-detail-cont .screen-type .btn.reserve {
	width: 90%;
	background-color: #329eb1;
	margin: 0 0 40px 13px;
	cursor: pointer;
}

.movie-detail-cont .screen-type .btn.comming {
	width: 90%;
	background-color: #666;
	margin: 0 0 40px 13px;
	cursor: pointer;
}

.movie-detail-cont .screen-type .btn.reserve:hover {
	background-color: #2d8c9d;
}

.movie-detail-page.fixed {
	position: fixed;
	left: 0;
	top: 42px;
	z-index: 100;
	width: 100%;
	height: 80px;
	margin: 0;
}

.movie-detail-page.fixed .bg-img {
	background-attachment: scroll;
	background-size: 100% auto;
}

.movie-detail-page.fixed .movie-detail-cont {
	position: relative;
	z-index: 104;
	width: 1100px;
	height: 80px;
	margin: 0 auto;
	padding-top: 0;
}

.movie-detail-page.fixed .movie-detail-cont .screen-type {
	top: 22px;
	bottom: inherit;
	width: 130px;
}

/* movie-summary */
.movie-summary {
	overflow: hidden;
	margin: 20px 0 0 0;
	height: 140px;
}

.movie-summary.active {
	height: 100%;
}

.movie-summary .txt {
	overflow: hidden;
	text-align: left;
}

.movie-summary.active .txt {
	height: auto;
}

.movie-summary .txt:first-line {
	color: #222;
	font-size: 1.9em;
	font-weight: 600;
}

/* 더보기 버튼 */
.btn-more {
	padding: 0;
	width: 100%;
	margin: 0;
	height: 40px;
	border: 0;
	border-bottom: 1px solid #bfbfbf;
	background-color: transparent;
	color: #666;
	cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.15;
}

.btn-more i {
	margin-left: 6px;
}

.btn-more:hover {
	border-color: #666;
}

.iconset {
	overflow: hidden;
	display: inline-block;
	margin: -1px 0 0 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background-position: 0 0;
	background-repeat: no-repeat
}

.ico-btn-more {
	width: 12px;
	height: 7px;
	background-image:
		url(../../images/movie/icon/ico-btn-more.png);
}

.ico-btn-more.active {
	transform: rotate(180deg)
}

/* movie-info */
.movie-info {
	padding: 30px 0;
	color: #222;
	text-align: left;
}

.movie-info p {
	margin: 0;
	padding: 0;
}

.movie-info .line p {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0 0 0 20px;
}

.movie-info .line p:before {
	content: '';
	display: block;
	position: absolute;
	left: 9px;
	top: 50%;
	width: 1px;
	height: 13px;
	margin: -6px 0 0 0;
	background-color: #d8d9db;
}

.movie-info .line p:first-child {
	padding: 0;
}

.movie-info .line p:first-child:before {
	display: none;
}

/* movie-comment-list */
.movie-comment-list{
	width: 1045px;
	height: 100%;
}

.movie-comment-list h2, #comment-count{
	text-align: left;
}

#comment-count b{
	font-size: 18px;
}

.comment-write {
	text-align: right;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.write-content {
	display: none;
}

.write-content.active{
	display: block;
}

.comment-write > span {
	cursor: pointer;
	border: 1px solid #503396;
	padding: 8px;
	color: #000;
	border-radius: 5px;
}

.comment-write > span:hover, .comment-write > span.active {
	text-decoration: none;
	background-color: #f0f0f0;
	color: #503396;
	font-weight: 600;		
}

#user {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
}

.form-txt {
	margin: 10px 0 10px 290px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.form-control {
	display: block;
    width: 650px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control:focus {
	/* box-shadow: 0px 0px 5px 5px rgba(0,0,255,1); */
}

#writeBtn {
	margin-right: 20px;
}

.cancelBtn {
	margin-right: 110px;
}

#writeBtn, .cancelBtn {
	cursor: pointer;
	height:30px;
	width: 60px;
	text-align: center;
	font-size: 15px;
	background-color: #329eb1;
	color: #fff;
	border: none;
	border-radius: 5px;	
}

#writeBtn:hover, .cancelBtn:hover {
	background-color: #3ab1c7;
}

.font-gblue {
	color: #01738b !important
}

/* comment-list-no-result */

.comment-list-no-result {
	width: 1045px;
	margin: 0;
	padding: 20px 0;
	font-size: 1.3333em;
	border-width: 1px 0 1px 0
}

.comment-list {
	display: flex;
	text-align: left;
	background-color: RGB(247,247,247);
	border-radius: 5px;
	margin-bottom: 30px;
}

.comment-list img {
	width: 40px;
	margin: 15px 0 0 40px;
	overflow: hidden;
}

.com-me {
	background: #e8ffe8;
}

.com-admin {
	background: #eaeaff;
}

.user-id {
	margin: 0 10px 10px 30px;
}

.user-id:after {
	content: "***";
}

.movie-comment ul li h5 {
	text-align: right;
	margin: -20px 20px 10px 0;
}

.comment-list .textarea {
	position: absolute;
	margin-left: 150px;
}

.comment-list > .textarea h3{
	margin: 30px 40px 0 0;
	float: left;
	color: #503396;
}

.comment-list > .textarea p {
	margin: 30px 0 0 0;
	float: left;
}

/* 영화 예고편 */
.movie-stil-list h2.title{
	width: 1273px;
	margin: 0 0 30px 0;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
    font-size: 1.4666em;
    font-weight: 600;
    color: #351f67;
}

/* btn-util */
.btn-util {
	position: absolute;
	margin-left: 910px;
	margin-top: 15px;
}

button#alert {
	cursor: pointer;
	background:
		url(../../images/movie/movie-detail/btn-alert.png)
		no-repeat center;
	height: 50px;
	border: none;
	margin-left: 85px;

}

#modify, #remove {
	width: 45px;
	height:30px;
	background-color: #8204ff;
	color: #fff;
	border: none;
	border-radius: 3px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#modify:hover, #remove:hover {
	background-color: #a54aff;
	font-weight: 600px;
	font-size: 15px;
	cursor: pointer;
}

/* top버튼 */
#top_btn {
	cursor: pointer;
	position: fixed;
	right: 20%; 
	bottom: 50px; 
	display: none; 
	z-index: 999;
}

#top_btn img{
	width: 50px;
	height: 50px;	
}

/* footer */
footer {
	margin: auto;
	width: 1273px;
}

#content {
	border-top: 0.5px solid RGB(3, 22, 52);
	text-align: left;
	margin-top: 0;
}

#footer_ci {
	width: 100px;
	margin: 0px;
	float: left;
}