@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@900&display=swap');

@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'IBMPlexSansKR-Regular', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-right: 17px; /* nav 길이조절 */
	/* overflow: hidden; 스크롤 x */
}

a:link {
	text-decoration: none;
}

a:active, a:focus, a:hover {
	text-decoration: underline;
}

ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* section */
section {
	margin: 20px auto;
	width: 1273px;
	height: 300px;
	text-align: center;
	float: none;
	margin-left: 39%;
	margin-bottom: 450px;
	margin-top: 40px;
	display: block;
}

/* section 본문 */
section #joinFormArea {
	column-width: 15em;
	background: #fff;
	padding: 2em 12em;
}

.join_title {
	margin-right: 65%;
	margin-top: 2%;
}

.join_main {
	margin-top: 10px;
}

.ul, .li {
	list-style: none;
	color: #454545;
}

.li {
	margin-bottom: 20px;
	text-align: left;
}

.box1 {
	width: 450px;
	height: 30px;
	border: 1px solid #666;
	padding: 10px;
}

.box2 {
	width: 450px;
	height: 30px;
	border: 1px solid #666;
	padding: 10px;
}

.box3 {
	width: 450px;
	height: 30px;
	border: 1px solid #666;
	padding: 10px;
}

button {
	background: #3e2789;
	color: #fff;
	width: 475px;
	border: 1px solid #666;
	height: 50px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 2%;
	margin-right: 65%;
}

/* 비번 일치하는 경우 */
#alert-success {
	display: none;
	color: #00498c;
	font-weight: bold;
}

/* 비번 일치하지 않는 경우 */
#alert-danger {
	display: none;
	color: #d92742;
	font-weight: bold;
}

/* 중복아이디 존재하지 않는경우 */
.id_input_re_1 {
	color: #00498c;
	display: none;
	font-weight: bolder;
}

/* 중복아이디 존재하는 경우 */
.id_input_re_2 {
	color: #d92742;
	display: none;
	font-weight: bolder;
}

/* 전화번호 화살표 스크롤 없애기 */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}