@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@900&display=swap');

@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'IBMPlexSansKR-Regular', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-right: 17px; /* nav 길이조절 */
	overflow: hidden; /* 스크롤 x */
}

a:link {
	text-decoration: none;
}

a:active, a:focus, a:hover {
	text-decoration: underline;
}

ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* section */
section {
	margin: 20px auto;
	width: 1273px;
	height: 300px;
	text-align: center;
	padding-left: 38%;
	padding-bottom: 12%;
}

/* section 본문 */
section #joinFormArea {
	column-width: 15em;
	background: #fff;
	padding: 2em 12em;
}

.join_title {
	margin-right: 65%;
}

.ul, .li {
	list-style: none;
	color: #454545;
}

.li {
	margin-bottom: 20px;
	text-align: left;
}

.btn_joinform {
	background: #3e2789;
	color: #fff;
	width: 475px;
	border: 1px solid #666;
	height: 50px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4%;
	margin-right: 65%;
}

/* 이용약관 */
.join_box {
	width: 450px;
	height: 250px;
	overflow: auto;
	border: 1px solid black;
	padding: 0 0.5em;
	text-align: left;
}

/* 체크박스 */
.chbox1 {
	float: none;
	color: #454545;
	float: left;
	padding-bottom: 10px;
}

.chbox2 {
	float: none;
	color: #454545;
	float: left;
	margin-left: 1%;
}