@charset "UTF-8";

@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* body */
body {
	font-family: 'IBMPlexSansKR-Regular', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* header */
header {
	margin: auto;
	width: 1273px;
	position: relative;
}

#header_ci {
	width: 150px;
	margin: 0px auto;
	align-items: center;
	position: relative;
	left: 120px;
	box-sizing: border-box;
}

header div {
	display: inline;
	float: right;
	text-align: right;
	padding-bottom: 10px;
}

header div a {
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.0em;
	color: RGB(136, 136, 136);
}

/* <nav> */
nav {
	margin: auto;
	position: relative;
	padding: 0px;
}

nav ul {
	width: 1273px;
	padding-left: 0;
	list-style: none;
	border-bottom: 0.5px solid RGB(3, 22, 52);
	padding-bottom: 5px;
	margin: 10px auto;
	position: relative;
}

.nav {
	display: inline-block;
	padding: 0 90px;
	font-weight: bold;
	font-size: 1.3em;
}

#mypagebtn {
	display: inline-block;
	padding: 0 0 0 70px;
	font-weight: bold;
	font-size: 1.3em;
}

.nav a {
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 5px;
}

.nav a:hover {
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 4px;
	border-bottom: 5px solid RGB(3, 22, 52);
}

.fa-user {
	text-decoration: none;
	color: RGB(3, 22, 52);
	display: inline-block;
}

/* section */
section {
	margin: 50px auto;
	width: 1273px;
	height: 900px;
	text-align: center;
}
section h2 {
	padding-left: 10px;
	text-align: left;
}

#container {
	border: 1px solid #ccc;
	margin-bottom: 50px;
	height: 700px;
	margin: auto;
}

#title {
	margin: 50px 0 0 100px;
}

#menubar ul{
	padding: 0;
	margin-bottom: 0px;
	list-style: none;
	width: 100%;
}

#menubar ul li{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 418.3px;
	height: 30px;
	border: 1px solid #ccc;
	text-align: center;
	overflow: hidden;
}

#selected{
	background-color: RGB(3, 22, 52);
	color: white;
}

#table-div{
	margin: 0 auto;
	width: 350px;
}

#result-table {
	width: 700px;
}

.info {
	width: 200px;
	text-align: left;
	padding-left: 10px;
	font-size: 1.2em;
}

.result {
	width: 500px;
	text-align: left;
	padding-left: 10px;
	font-size: 1.2em;
}

#table-div a {
	color: blue;
	text-decoration: none;
	font-size: 1.2em;
}

#table-div a:visited {
	color: blue;
	text-decoration: none;
}

#table_div a:hover {
	color: red;
	text-decoration: underline;
}

.main-link {
	text-align: left;	
	padding-left: 20%;
}

/* footer */
footer {
	margin: auto;
	width: 1273px;
}

#content {
	border-top: 0.5px solid RGB(3, 22, 52);
	text-align: left;
	margin-top: 0;
}

#textarea {
	margin-top: 22.5px;
}

#textarea p {
	color: black;
	font-size: 0.8em;
	margin: 0;
}

#footer_ci {
	width: 100px;
	margin: 0px;
	float: left;
}