@charset "UTF-8";
@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* body */
body {
	font-family: 'IBMPlexSansKR-Regular', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* header */
header {
	margin: auto;
	width: 1273px;
	position: relative;
}

#header_ci {
	width: 150px;
	margin: 0px auto;
	align-items: center;
	position: relative;
	left: 120px;
	box-sizing: border-box;
}

header div {
	display: inline;
	float: right;
	text-align: right;
	padding-bottom: 10px;
}

header div a {
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0.8em;
	color: RGB(136, 136, 136);
}

/* <nav> */
nav {
	margin: auto;
	position: relative;
	padding: 0px;
}

nav ul {
	width: 1273px;
	padding-left: 0;
	list-style: none;
	border-bottom: 0.5px solid RGB(3, 22, 52);
	padding-bottom: 5px;
	margin: 10px auto;
	position: relative;
}

.nav {
	display: inline-block;
	padding: 0 90px;
	font-weight: bold;
	font-size: 1.3em;
}

#mypagebtn{
	display: inline-block;
	padding: 0 0 0 70px;
	font-weight: bold;
	font-size: 1.3em;
}

.nav a{
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 5px;
}

.nav a:hover {
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 4px;
	border-bottom: 5px solid RGB(3, 22, 52);
}

.fa-user{
	text-decoration: none;
	color: RGB(3, 22, 52);
	display: inline-block;
}

/* section */
section {
	margin: 50px auto;
	width: 1300px;
	/* height: 900px; */
	text-align: center;
/* 	border: 1px solid green; */
}

#container{
	display: flex;
	flex-wrap: wrap;
}
#mypage-menubar{
	border-right: 1px solid #ccc;
	display: inline-block;
	width: 250px;
	height: 900px;
/* 	float: left; */
}

#mypage-menubar ul{
	padding: 0px;
	list-style: none;
	text-align: left;
}

#mypage-menubar ul li{
	margin: 50px 0;
}

#mypage-menubar ul li a{
	color: RGB(3, 22, 52);
	font-size: 1.2em;
	text-decoration: none;
}

#mypage-menubar ul li a:hover{
	color: red;
	font-size: 1.2em;
	text-decoration: none;
}

#mypage-menubar h2{
	background-color: RGB(3, 22, 52);
	color: white;
}

.active-menu {
	font-weight: 900;
	border-bottom: 2px solid RGB(3, 22, 52);
}

#comment-wrap{
/* 	border: 1px solid yellow; */
	width: 1045px;
	height: 100%;
}

#comment-wrap h2, #comment-count{
	text-align: left;
	margin-left: 40px;
}
#comment-count{
 	border-top: 1px solid #ccc;
 	border-bottom: 1px solid #ccc;
 	margin-bottom: 40px;
 	height: 30px;
 }

#comment-wrap li{
	list-style: none;
}

.comment-list {
	display: flex;
	text-align: left;
	background-color: RGB(247,247,247);
	height: 170px;
	border-radius: 5px;
	margin-bottom: 30px;
}

.comment-list img{
	height: 130px;
	width: 90px;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 3px;
}

.delComment {
	background-color: RGB(3, 22, 52);
	border: 1px solid black;
	border-radius: 3px;
	text-decoration: none;
	color: white;
	padding: 3px;
	font-size: 1.2em;
}

.textarea{
	margin-left: 20px;
}

.textarea h3{
	margin-top: 0px;
	margin-bottom: 5px;	
}

.textarea p {
	margin-top: 5px;
	margin-bottom: 5px;
}


/* footer */
footer {
	margin: auto;
	width: 1273px;
}

#content {
	border-top: 0.5px solid RGB(3, 22, 52);
	text-align: left;
	margin-top: 0;
}

#textarea{
	margin-top: 22.5px;
}

#textarea p {
	color: black;
	font-size: 0.8em;
	margin: 0;
}

#footer_ci {
	width: 100px;
	margin: 0px;
	float: left;
}