@charset "UTF-8";
@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* body */
body {
	font-family: 'IBMPlexSansKR-Regular', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	/* 	background-color: RGB(3, 22, 52); */
}

/* header */
header {
	margin: auto;
	width: 1273px;
	position: relative;
}

#header_ci {
	width: 150px;
	margin: 0px auto;
	align-items: center;
	position: relative;
	left: 120px;
	box-sizing: border-box;
}

header div {
	display: inline;
	float: right;
	text-align: right;
	padding-bottom: 10px;
}

header div a {
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0.8em;
	color: RGB(136, 136, 136);
}

/* <nav> */
nav {
	margin: auto;
	position: relative;
	padding: 0px;
}

nav ul {
	width: 1273px;
	padding-left: 0;
	list-style: none;
	border-bottom: 0.5px solid RGB(3, 22, 52);
	padding-bottom: 5px;
	margin: 10px auto;
	position: relative;
}

.nav {
	display: inline-block;
	padding: 0 90px;
	font-weight: bold;
	font-size: 1.3em;
}

#mypagebtn{
	display: inline-block;
	padding: 0 0 0 70px;
	font-weight: bold;
	font-size: 1.3em;
}

.nav a{
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 5px;
}

.nav a:hover {
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 4px;
	border-bottom: 5px solid RGB(3, 22, 52);
}

.fa-user{
	text-decoration: none;
	color: RGB(3, 22, 52);
	display: inline-block;
}

/* section */
section {
	margin: 50px auto;
	width: 1300px;
	height: 900px;
	text-align: center;
/* 	border: 1px solid green; */
}

#container{
	display: flex;
	flex-wrap: wrap;
}
#mypage-menubar{
	border-right: 1px solid #ccc;
	display: inline-block;
	width: 250px;
	height: 900px;
/* 	float: left; */
}

#mypage-menubar ul{
	padding: 0px;
	list-style: none;
	text-align: left;
}

#mypage-menubar ul li{
	margin: 50px 0;
}

#mypage-menubar ul li a{
	color: RGB(3, 22, 52);
	font-size: 1.2em;
	text-decoration: none;
}

#mypage-menubar ul li a:hover{
	color: red;
	font-size: 1.2em;
	text-decoration: none;
}

#mypage-menubar h2{
	background-color: RGB(3, 22, 52);
	color: white;
}

#mypage-wrap{
/* 	border: 1px solid yellow; */
	width: 1045px;
	height: 100%;
}



#user-info{
	width: 1010px;
	height: 200px;
	padding: 20px;
	margin: 0 20px;
	background-color: RGB(247,247,247);
	border-radius: 5px;
}

#profile{
	width: 600px;
	height: 200px;
	display: flex;
	float: left;
	margin-right: 200px;
	text-align: left;
}

#profile img{
	margin: 50px 0 0 50px;
	display: inline-block;
	width: 102px;
	height: 102px;
}

#textbox{
	margin-top: 70px;
	display: inline-block;
	position: relative;
	margin-left: 10px;
}

#user{
	color: RGB(86,127,127);
	font-weight: bold;
	font-size: 2.0em;
	margin: 0;
}
#welcome{
	margin: 0;
}
#user-info a{
	border: 1px solid RGB(3, 22, 52);
	text-decoration: none;
	background-color: white;
	color: RGB(3, 22, 52);
	padding: 10px;
	float: right;
	margin-top: 80px;
	margin-right: 50px;
}

#user-info a:hover{
	border: 1px solid RGB(3, 22, 52);
	text-decoration: none;
	background-color: white;
	color: red;
	padding: 10px;
	float: right;
	margin-top: 80px;
	margin-right: 50px;
}

#reserve-history,#qna-history{
	width: 100%;
	height: 280px;
	text-align: left;
	padding: 20px;
	margin: 0 20px;
}
#qna-history{
	border-top: 1px solid #ccc;
}


#reserve-list ,#qna-list{
	list-style: none;
	text-align: center;
}


/* footer */
footer {
	margin: auto;
	width: 1273px;
}

#content {
	border-top: 0.5px solid RGB(3, 22, 52);
	text-align: left;
	margin-top: 0;
}

#textarea{
	margin-top: 22.5px;
}

#textarea p {
	color: black;
	font-size: 0.8em;
	margin: 0;
}

#footer_ci {
	width: 100px;
	margin: 0px;
	float: left;
}